@import "../../../variables";

#no-request-text {
  color: $border-color;
}

#no-request-text, #progress-spinner {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 45vh;
  color: $border-color;
}

.svgs-wrapper {
  margin-bottom: 15px;
  background-color: white;
  border: solid 5px $border-color;
}

.svg-descriptor {
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: $border-color;
}
