<div class="container-fluid">
  <div class="row">
    <div id="brand" class="col-12">
     <img src="../assets/pblogosm.png" height="141" width="290"/>
    </div>
  </div>
  <div class="row">
    <div id="form" class="col-md-4 col-sm-12">
      <app-paccurate-request-form></app-paccurate-request-form>
    </div>
    <div id="view" class="col-md-8 col-sm-12 stopOverflow">
      <app-paccurate-response-view></app-paccurate-response-view>
    </div>
  </div>
</div>

<p-growl [(value)]="messages" [life]="5000" [immutable]="false"></p-growl>
