@import "../variables";

#brand, #logo, #info {
  height: 8vh;
  border-bottom: solid 5px $border-color;
  color: $border-color;
  background-color: $bg-color;
}

#form {
  border-right: solid 5px $border-color;
  background-color: $bg-color;
  transition: all 0.3s ease-in-out;

  &.collapsed {
    margin-left: -34%;
  }
}

#view {
  background-color: $bg-color;
  //transition: all 0.3s ease-in-out;
}

#form, #view {
  height: 92vh;
  overflow: auto;
}

.stopOverflow {
  overflow: hidden;
}
