@import "../variables";

#brand {
  height: 12vh;
  border-bottom: solid 5px $border-color;
  color: $border-color;
  background-color: $bg-color;
  alignment: center;
  text-align:center;
}

#form {
  border-right: solid 5px $border-color;
  background-color: $bg-color;
  border: 1px solid #aaa;
}

#view {
  background-color: $bg-color;
}

#form, #view {
  height: 92vh;
  overflow: auto;
}

.stopOverflow {
  overflow: hidden;
}
