html, body {
  overflow-x: hidden;
}

.margin-left {
  margin-left: 25px;
}

.max-width {
  width: 100%;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0;
}

.center-align {
  text-align: center;
}

polygon.volume-line.solid {
  fill-opacity: 0.95;
  transition-duration: 0.2s;
  stroke-opacity: 0.95;
}

polygon.volume-line.highlight {
  transition-duration: 0.3s;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

polygon.volume-line {
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 1;
  fill-opacity: 0.85;
  stroke-opacity: 0.5;
}

line.volume-line {
  stroke: #666;
  stroke-dasharray: 2, 1;
  stroke-width: 1;
}

.box-figure {
  width: 100%;
  padding: 1em;
  margin: 3em 0 0;
  display: inline-block;
}
